/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #FF4E50, #F9D423);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    padding: 50px;
    border: 2px solid #333;
    background-color: #FF4E50; /* Update the background color here */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .data {
    font-size: 24px;
    margin-bottom: 40px;
    color: #333;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .button {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 14px 28px;
    background-color: #FFC107;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .heading {
    font-size: 36px;
    margin-bottom: 60px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 10, 0, 0.5);
  }
  
  